@font-face {
    font-family: 'Cafe24ClassicType-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: 'KCC-Hanbit';
}

.title {
    width: auto;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 60pt;
    color: white;
    font-family: 'Cafe24ClassicType-Regular';
    text-shadow: 0px 0px 50px rgba(255, 255, 255, 0.7);
}

.card-title {
    font-family: 'TmonMonsori';
}


.search {
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: -40px;
    margin-bottom: 100px;
}

.search>button {
    width: 80px;
    height: 45px;
    border-radius: 10px;
    margin: 10px;
}


.searchbar {
    width:300px;
    height: 50px;
    margin-right: 30px;

    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}


.moviecard {
    width: 85%;

    display:grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    align-items: center;


    margin: 30px auto 30px auto;
}

.col {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 40px 3px rgba(255, 255, 255, 0.7);
    width: 400px;
    height: 1000px;

    margin: 20px auto 40px auto;
    padding: 20px;
    border-radius: 10px;
    
    transition-duration: 0.3s;
}

.col:hover {
    scale: 105%;
}

.upscroll {
    background-color: transparent;
    box-shadow: 0px 0px 20px 3px rgba(255, 255, 255, 0.7);

    border-radius: 200px;
    height: 90px;
    width: 90px;

    position:fixed;
    bottom: 50px;
    right: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
    text-decoration-line: none;
}

.upscroll:hover {
    color: white;
    font-size: large;
}